* {
    margin: 0;
    padding: 0;
}
.nav {
    width: 100%;
    height: 80px;
    background-color:#f3130b;
    
}
.navleft{
    float: left;
    width: 55%;
    height: 80px;
}
.navleft h1{
     margin-top: 22px;   
     margin-left: 30px;
     color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navRight{
  float: right;
  width: 45%;
  height: 80px;
}
.navRight li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    margin-top: 30px;
}
.navRight li a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;

}
.home{
    width: 100%;
    height: 100vh;
}
.home img{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.about{
    margin-top: 0px;
    background-color: #e3e6eb;
    width: 100%;
    height: 380px;
}
.about .title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #f3130b;
    margin-top: 0px;
    padding-top: 50px;
    font-size: 38px;
    margin-bottom: 19px;
    line-height: 45px;
    text-transform: capitalize;
    font-weight: 700;
}
.about .text{
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    text-align: center;
    margin: auto;
    width: 70%;
    color: #0f0c0c;
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 45px;
    text-transform: capitalize;
    font-weight: 300;
}
.footer{
    width: 100%;
    height: 39px;
    background-color: #f3130b;
}
.footer h3{
   color: #e3e6eb;
   text-align: center;
   padding-top: 7px;
   font-family: sans-serif;
}